<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KXPublicStatus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1847DEB11F948B6B001C39BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1847DEC91F948B6E001C39BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1847DED41F948B6E001C39BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
